{% extends "base.html" %} 

{% block masthead %}{% endblock masthead %} 

{% block title %} Editar el perfil de usuario {% endblock title %} 

{% block mainpage %}
<section class="page-section" id="contact">

	<h1>{{ user_profile.user.username }}</h1>
	<p>Nombre: {{ user_profile.user.first_name }}</p>
	<p>Apellido: {{ user_profile.user.last_name }}</p>
	<p>Email: {{ user_profile.user.email }}</p>
	<p>Fecha de Nacimiento: {{ user_profile.fecha_nacimiento | date:"d-m-Y" }}</p>
	<p>Lugar de residencia: {{ user_profile.lugar_residencia }}</p>
	{% if request.user.userprofile.img_profile %}
	<p>Imagen de Usuario: <img src={{request.user.userprofile.img_profile.url}} alt="Imagen de Usuario" style="max-height: 100px; overflow: auto;"></p>
	{% endif %}
	<p>Fecha de registro: {{ user_profile.user.date_joined | date:"d-m-Y, g:iA" }}</p>

	<div class="div_mensajes">
	  <h3><a class='link-special' href="{% url 'mensajes:ver_todos_los_mensajes' %}">Ver Todos los Mensajes</a></h3>
	  
	  
	  <h3>Enviar Mensaje</h2>
	  <form method="POST" action="{% url 'profile' pk=request.user.id %}">
		  {% csrf_token %}
		  {{ form.destinatario.label_tag }} {{ form.destinatario }}
		  {{ form.contenido.label_tag }} {{ form.contenido }}
		  <button type="submit">Enviar Mensaje</button>
		</form>
	</div>
	
<h3>Últimos 8 Mensajes</h3>
  <ul>
    {% for mensaje in ultimos_mensajes %}
      <li>{{ mensaje.remitente }}: {{ mensaje.contenido }} - {{ mensaje.destinatario.username }} - {{ mensaje.fecha_creacion | date:"d-m-Y, g:iA" }}</li>
    {% endfor %}
  </ul>

	
	<p>Haga click <a class='link-special' href={% url "edit_user" pk=user.id %} >aqui</a> para editar sus datos</p>
</section>

{% endblock mainpage %}