{% extends "base.html" %}

{% block masthead %}{% endblock masthead %}

{% block title %}
Buscá tu vino!!
{% endblock title %} 

{% block mainpage %}

<form action="">
	{% comment %} <label>Ingrese la etiqueta a buscar: </label> {% endcomment %}
	{% comment %} <input type="text" name="vino"> {% endcomment %}
	{{formulario}}
	<input type="submit" value="Buscar">
</form>

{% if listado_de_vinos %}
	<ul>
		{% for etiqueta in listado_de_vinos %}
		<li>
			{{etiqueta}}
		</li>
		{% endfor %}
	</ul>
{% else %}
	<p>No hay Vinos registrados con esos parámetros</p>
{% endif %}


{% endblock mainpage %}

