{% extends "base.html" %}

{% block masthead %}{% endblock masthead %}

{% block title %}
Buscá tu vino!!
{% endblock title %} 

{% block mainpage %}

<h2>Encuentre aquí el vino que desea comentar</h2>
<form action="" enctype='multipart/form-data'>

	{{formulario}}
	<input type="submit" value="Buscar">
</form>

{% if listado_de_vinos %}
    <ul class='ul-flex'>
        {% for vino in listado_de_vinos %}
        <li class='link-flex'>
            {% if vino.imagen %}
            <img class='imagen_list' src={{vino.imagen.url}} alt="Imagen de vino"></img>
            {% else %}
            <img src="" alt=""></img>
            {% endif %} - 
            {{ vino.etiqueta }} {{ vino.varietal }} - {{ vino.cosecha }} <a class='link-special' href="{% url 'delete_wines' vino.id %}">Eliminar</a> - <a class='link-special' href="{% url 'update_wine' vino.id %}">Actualizar</a> - <a class='link-special' href="{% url 'detail_wine' vino.id %}">Descripcion</a>
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No hay Vinos registrados con esos parámetros</p>
{% endif %}



{% if  request.user.is_authenticated %}
	<p>Si querés dejarnos tu opinión sobre un vino en particular, hacé click <span><a class='link-special' href={% url "wines" %}>acá!</a></span></p>
{% endif %}
{% endblock mainpage %}

