{% extends "base.html" %}

{% block masthead %}{% endblock masthead %}

{% block title %}
Detalles de Vinos: {{vino.id}}
{% endblock title %} 

{% block mainpage %}

<h2>Este es el detalle del Vino seleccionado - {{vino.id}}</h2>

<form class='formulario' action="" enctype="multipart/form-data">
<ul>
    <li>Etiqueta: {{vino.etiqueta}}</li>
    <li>Varietal: {{vino.varietal}}</li>
    <li>Cosecha: {{vino.cosecha}}</li>
    <li>Tipo: {{vino.tipo}}</li>
    <li>Descripcion: {{vino.descripcion | safe }}</li>
    <li>
        {% if vino.imagen %}
        Imagen: <img class='imagen_form' src={{vino.imagen.url}} alt="Imagen de vino"></img>
        {% else %}
        Imagen: No hay imagen cargada
        {% endif %}
    </li>
    <li>
        {% if vino.fecha_compra %}
        Fecha de compra: {{vino.fecha_compra | date:'d-m-Y'}}
        {% else %}
        Fecha de Compra: Sin datos
        {% endif %}
    </li>
</ul>
</form>


{% endblock mainpage %}

