{% extends "base.html" %} 
{% block masthead %}{% endblock masthead %} 
{% block title %} Lista de mensajes {% endblock title %} 

{% block mainpage %}
<div class="about">
  <h2>Mensajes recibidos</h2>
  <ul>
{% for mensajes in mensajes_recibidos %}
    <li>{{ mensajes.fecha_creacion }} - {{mensajes.remitente}} - {{mensajes.contenido}}</li>
{% endfor %}
  <h2>Mensajes enviados</h2>
{% for mensajes in mensajes_recibidos %}
    <li>{{ mensajes.fecha_creacion }} - {{mensajes.destinatario}} - {{mensajes.contenido}}</li>
{% endfor %}

  </ul>
</div>
{% endblock mainpage %}
