{% extends "base.html" %} 
{% block masthead %}{% endblock masthead %} 
{% block title %} Ver conversacion {% endblock title %} 

{% block mainpage %}
<h1>Conversación con {{ destinatario.username }}</h1>
{% for mensaje in conversacion %}
    {% if mensaje.remitente == request.user %}
        <p>Tú dijiste: {{ mensaje.contenido }} - {{mensaje.fecha_creacion | date:"d-m-Y, g:iA" }}</p>
    {% else %}
        <p>{{ destinatario.username }} dijo: {{ mensaje.contenido }} - {{mensaje.fecha_creacion | date:"d-m-Y, g:iA" }}</p>
    {% endif %}
{% endfor %}
{% endblock mainpage %}